name: Integration tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  workflow_call:

jobs:
  integration-tests:
    uses: dnplas/operator-workflows/.github/workflows/integration_test.yaml@dnplas-generic-integration-tests-733
    secrets: inherit
    with:
      channel: 1.28-strict/stable
      modules: '["test_traefik_ingress.py", "test_charm.py", "test_auth.py", "test_scaling.py", "test_server_upgrade.py", "test_upgrades.py"]'
      juju-channel: 3.6/stable
      self-hosted-runner: false
      microk8s-addons: "dns ingress rbac storage metallb:10.15.119.2-10.15.119.4 registry"
