name: Integration tests

on:
  pull_request:

jobs:
  integration-test-microk8s:
    name: Integration tests (microk8s)
    strategy:
      fail-fast: false
      matrix:
        tox-environments:
          - integration-charm
          - integration-scaling
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.1/stable
          provider: microk8s
          microk8s-addons: "ingress storage dns rbac registry"
          channel: 1.25-strict/stable
      - name: Run integration tests
        # set a predictable model name so it can be consumed by charm-logdump-action
        run: tox -e ${{ matrix.tox-environments }}
      # - name: Dump logs
      #   uses: canonical/charm-logdump-action@main
      #   if: failure()
      #   with:
      #     app: temporal-k8s
      #     model: test-charm
